.show {
  height: fit-content;
  background-color: var(--text-background-color);
  color: rgb(0, 0, 0);
  border: 1px solid white;
  /* font-size: large; */
  font-weight: bold;
  border-radius: 10px;
  padding: 15px;
}

.title {
  color: white;
  text-shadow: 2px 2px 2px black;
  background-color: var(--foreground-color);
  padding: 15px;
  /* border: 1px solid #555; */
  border-radius: 10px;
  font-family: "Sans-serif", monospace;
}
